# Compiled source #
*.pyc

# Other stuff #
*.swp
.idea/*
ML-React-App-Template/*
data/papers/*
data/projects/*
data/publications/*
data/link_tables/*
data/oa_comm_use_file_list.csv
data/oa_file_list.csv
data/oa_non_comm_use_pdf.csv
data/GoogleNews*
nimhresearch.db

# Backup
*backup*

# app
NIMHDataLabeler/node_modules/*
NIMHDataLabeler/*lock*
NIMHDataLabeler/*.alt
NIMHDataLabeler/*app.log*
